

@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lobster|Playball&display=swap');

@font-face {
	font-family: 'Lobster';
}

@font-face {
	font-family: 'Playball';
}
@font-face {
	font-family: 'Fredoka One';
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}
