
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/bootstrap/main.css';

@import '../../../styleLib/colours';

/* overwrite today colours */
.fc-today {
	background: $pink-A200 !important;
	& a {
		color: $pink-50;
	}
}

/* change event colour */
.fc-event {
	background: $teal-400;
	color: $yellow-50;
}

/* override day number color and size */
.fc-day-number {
	font-size: 1.5em;
	color: $pink-900;
}

/* override day title color and size */
.fc-day-header {
	font-size: 1.5em;
	color: $pink-50;
	background-color: $teal-700;
}

.fc-button {
	color: $pink-50;
	background-color: $teal-700;
}

.fc-today {}

.fc-header-toolbar {
	.fc-left div{
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	
	.fc-center div{
		display: flex;
		align-items: center;
		justify-content: space-around;
		h2 {
			color: $teal-700;
			display: inline;
			margin-left: 0.5rem;
			margin-right: 0.5rem;
		}
	}

	.fc-right div{
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}