@import '../../../styleLib/colours';
@import '../../../styleLib/default';

.signUp {
	margin: 9rem auto 0;
    width: 100%;
	padding: 1rem;
	box-sizing: border-box;
	box-shadow: none;
	

	@media screen and (min-width: $sm) {
		width: 70%;
		box-shadow: $borderStyle;
	}

	@media screen and (min-width: $lg) {
		width: 50%;
	}
	

	h1 {
		font-size: 2rem;
		font-weight: bold;
		font-family: 'Arial', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		margin: 1rem 0;
	}
	
	& .contentContainer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		& .inputWrapper {
			flex-basis: 50%;
		}
	}

	& .inputWrapper {
		margin: 0.5rem;
		height: 1.3rem;
		box-shadow: $borderStyle;
		padding: 0.1rem 0.3rem;
		position: relative;

		& input {
			width: 100%;
			height: 100%;

			display: block;
			position: absolute;
			box-sizing: border-box;

			border: 0;
			outline: none;
			
		}

		& input:active, input:focus {
			outline: none;
		}
	}
	
	.footer {
		width: 95%;
		margin-top: 0.8rem;
		display:flex;
		justify-content: flex-end;
		align-items: center;
		.btnSignUp {
			@include btn;
		}
	}
}