// primary colours

$dark-green-colour: #36595a;
$brown-colour: #771d37;
$mistyrose-colour: #f2d4ee;
$whitesmoke-colour: #f3ebf9;
$black-colour: #444444;

// alert colours
$danger-colour : #d83636;
$danger-bg-colour : #dd9e9e;
$success-colour : #2ea31c;
$success-bg-colour : #b2dfab;
$warning-colour : #f5e321;
$warning-bg-colour : #e6e1ad;

$overlay-colour: $whitesmoke-colour;
$button-bg-colour: $dark-green-colour;
$button-colour: $mistyrose-colour;


$border-color: #9f9f9f;
