// primary colours

$teal-400: #26a69a;
$teal-700: #00796b;
$teal-900: #004d40;

$pink-900: #880e4f;
$pink-50: #fce4ec;
$pink-A200: #ff4081;

$yellow-50: #fffde7;


// alert colours
$danger-colour : #d83636;
$danger-bg-colour : #dd9e9e;
$success-colour : #2ea31c;
$success-bg-colour : #b2dfab;
$warning-colour : #f5e321;
$warning-bg-colour : #e6e1ad;

$overlay-colour: $pink-50;
$button-bg-colour: $teal-700;
$button-colour: $pink-50;


$border-color: #9f9f9f;
