@import './colours';

@mixin btn {
	display: inline-block;
	width: 5rem;
	height: 2rem;
	color: $button-colour;
	background-color: $button-bg-colour;
	border-radius: $rounded-corner;
	margin-top: 0.3rem;
	margin-bottom: 0.5rem;

	background-position: center;
	transition: background 0.8s;
	outline: none;

	&:hover, &:focus {
		background: 
			darken($button-bg-colour, 8%)
			radial-gradient(circle, transparent 1%, darken($button-bg-colour, 8%) 1%)
			center /15000%;
	}

	&:active {
		outline: none;
		background: #44535e radial-gradient(circle, transparent 1%, #434f59 1%) center/15000%;
		background-size: 100%;
		transition: background 0s;
	}

	&:not(:disabled) {
		cursor: pointer;
	}

}

$borderStyle: 
		0 0 2px $border-color,
		0 2px 2px $border-color,
		2px 2px 2px $border-color,
		2px 0 2px $border-color;

// border radius
$rounded-corner: 0.5rem;
$pill-corner: 50px;

// screen breakpoints
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// spacing
$defaultPadding: 1px;
$margin: 1px;