@import '../../../styleLib/colours';

.alert {
	font-size: 0.7rem;
	margin: 0.3rem 0.25rem 0;
	padding: 3px 8px;
	border-radius: 0.25rem;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;

	&.danger {
		color: $danger-colour ;
		background-color: $danger-bg-colour;
	}

	&.warning {
		color: $warning-colour ;
		background-color: $warning-bg-colour;
	}

	&.success {
		color: $success-colour ;
		background-color: $success-bg-colour;
	}
}