@import '../../../styleLib/colours', '../../../styleLib/default';

.input {
	width: 5rem;
	display: inline-block;
	border-radius: $rounded-corner;
	background: $whitesmoke-colour;
	border: 0;
	outline: none;
	margin: 0 0.3rem;
	padding:0.25rem 0.35rem;
	box-shadow: 0 0 #9f9f9f, 0 2px #9f9f9f, 2px 2px #9f9f9f, 2px 0 #9f9f9f;
}

.input:active, input:focus {
	outline: none;
}